{% extends 'shared/newbase.html' %}
{% load static %}
{% block content %}
<div style="padding-top: 70px; padding-bottom: 30px;">
   <form action="{% url 'main:ccreate' %}" method="POST">
      {%csrf_token%}
      <div class="container" role="main" style="border: 10px; border-color: grey;">
         <label for="title">제목</label> <input type="text" name="title" class="form-control" value="{{blog.title}}">
         <label for="body">내용 :</label> <textarea type="text" name="body" class="form-control" id="" rows="5">{{blog.body}}</textarea>
         <label for="tag">컨택 :</label> <input type="text" class="form-control" name="tag" id="tag" value="{{blog.tag}}">
         <button type="submit" class="btn btn-sm btn-primary" id="btnSave">저장</button>
         <button type="button" class="btn btn-sm btn-primary" id="btnList" onclick="back()">목록</button>
      </div>
   </form>
</div>
<script>
   function back(){
      window.history.back();
   }
</script>
{% endblock %}