<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    
</head>
<body>
    {% load i18n %}
    {% load account socialaccount %}
    {% block content %}
    <div class="d-flex justify-content-center">
        <div style="width: 40%; margin-top: 14vh; border: 1px solid #212529; border-radius: 7px; background-color: white; color: black; padding: 20px;" >
            <div class="d-flex justify-content-center mt-4 mb-3">
                <h1>로그인</h1>
            </div>
    
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                <a href="{% url 'account_signup' %}">회원가입</a>
                <button class="primaryAction btn btn-secondary" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>